body {
    background: url(./assets/Background.png) no-repeat top center/cover;
    margin: 0px;
    padding: 0px;
    
}

body * {
    font-family: "inter", sans-serif;
    color: whitesmoke;
    
  }


.navbar {
    position: fixed;
    background: rgba(0, 0, 0, 0.06);
    top: 0;
    right: 0;
    width: 100%;
  }
    
.navbar i {
   color: #2bbc8a;
}

  .navbar ul {
    display: inline;
    float: right;
    margin: 20px;
  }
  
  .navbar li {
    display: inline;
    margin: 0px 5px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: "inter", sans-serif;
    font-weight: 400;

    transition: background 0.2s;
    border-radius: 20%;
    padding: 10px;
  }

  
  .navbar ul li a:hover {
    background: #0000006a;
    color: #ffffff;
  }
  
  a {
    text-decoration: none;
  }

#container {
    width: 100%;
  }

#avatar {
    text-align: center;
    margin: 20px;
  }
  
#avatar img {
    width: 115px;
    align-items: center;
  }


#box { 
    border: 1px solid red;
    background: rgba(0, 0, 0, 0.151);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

#box h1,h2 {
    text-align: center;
}

#home p {
    text-align: center;
    font-size: 1em;
}

#home img {
    display: block;
    margin: auto;
    padding: 30px;
}

#sobre p {
    text-align: center;
    margin: 0px;
}

#sobre img {
    width: 300px;
    display: block;
    padding: 30px;
    margin: auto;
    clip-path: polygon(0% 20%, 100% 20%, 100% 80%, 0% 80%);
}

#portfolio p {
  text-align: center;
  margin: 10px;
}

#portfolio li {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

#portfolio a {
    color: #2bbc8a;
    font-weight: 500;
  }
  #contato {
    display: block;
    margin: auto;
    padding: 10px;
  }
  
  .contato-geral {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
  }
  
  .contato-org {
    display: flex;
    align-items: center;
    margin: 0px 10px; /* Reduzimos a margem para evitar sobreposições */
  }
  
  .contato-org p {
    margin: 10px;
  }
  
  .contato-org a {
    color: #2bbc8a;
    font-weight: 500;
  }
  
  .contato-org ion-icon {
    color: #2bbc8a;
    font-weight: 500;
  }
  
  .contato img {
    /* width: 300px; Removemos a largura fixa */
  }

footer {
    position: fixed;
    bottom: 0px;
    left: 50%;
    padding: 0px;
    font-size: 14px;
    transform: translateX(-50%);
    width: 300px;
  }
  
  #links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  #social {
    display: flex;
    justify-content: center;
  }
  
  #social a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
  
    transition: background 0.2s;
    border-radius: 50%;
  }
  
  #social a:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  #base {
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    padding: 4px;
  }
  
